## Fichiers temporaires générés par MatLab:
*.asv


## Pour DocGen:
Notice/


## Bonnes pratiques globales:
data/*
!data/README.md

docs/docs_ext/*
!docs/docs_ext/README.md

lib/*
!lib/README.md
lib/lib_ext/*
!lib/lib_ext/README.md

res/*
!res/README.md
res/res_ext/*
!res/res_ext/README.md

*.png
*.jpeg
*.jpg


## Vos fichiers ignorés (ou vos exceptions):
!*.tex
!*.sty
!DocGen.png
